.form-set-main {padding-top: 25px;}

.no-left-right-padding {padding-left: 0 !important;padding-right: 0 !important;}
 
.no-left-padding {padding-left: 0 !important;}
.form-box-main {}
.form-set-main { padding-top: 25px;}
.form-main {}
.form-field {}

.form-main .form-field { width: 100%; height: 38px; font-size: 14px; color: #444; line-height: 30px; text-indent: 0.01px; border: 1px solid #00577d; padding: 0 15px;}
.form-main .text-field-big { width: 100%; height: 85px; font-size: 14px; color: #444; line-height: 22px; text-indent: 0.01px; border: 1px solid #00577d; padding: 5px 15px 0;}
.text-field-but { font-family:'Conv_PTS55F',Sans-Serif; color: #FFF; font-size: 15px; text-align: left; background: #072F66; padding: 10px 25px; border:0; width: 100%; cursor:pointer; -webkit-appearance: none; display: block; text-align:center; font-weight: bold; margin-top: 20px;}
.text-field-but:hover { background:  #BD0C0C;}
.text-field-main select{-moz-appearance:none;-webkit-appearance:none;background:url(../images/form/ash-arrow.html) no-repeat right 12px top 14px #FFF;border:1px solid #00577d;cursor:pointer;font-size:14px;height:38px;line-height:30px;padding:3px 10px;text-indent:.01px;width:100%}
.text-field-main select option { border: 0 none; padding: 5px 10px;}


input[type="radio"] { display: none;}
input[type="radio"] + label { cursor: pointer;}
input[type="radio"] + label span {width: 34px; height: 34px; border: 0; margin-top: -3px; vertical-align: middle; display: inline-block; background: #fff url("../images/form/radio-nor.html") no-repeat center center;  margin-right: 5px; }
input[type="radio"]:checked + label span { background: #fff url("../images/form/radio-check.html") no-repeat center center; }
input[type="radio"] + label:hover  span{ }


.form-check-main { padding: 20px 0px 0px 0px;}
.address-set {}
.address-set ul { list-style: none; margin: 0px; padding: 0px;}
.address-set li { padding-bottom: 20px; padding-left: 40px;}

.icon1 { background: url(../images/form/icon1.html) no-repeat left top;}
.icon2 { background: url(../images/form/icon2.html) no-repeat left top;}
.icon3 { background: url(../images/form/icon3.html) no-repeat left top;}
.icon4 { background: url(../images/form/icon4.html) no-repeat left top;}
.icon5 { background: url(../images/form/icon5.html) no-repeat left top;}
.icon6 { background: url(../images/form/icon6.html) no-repeat left top;}

.no-bottom-margin {
    margin-bottom: 0 !important;
}
.no-bottom-padding {
    padding-bottom: 0 !important;
}


@media all and (max-width: 991px) and (min-width: 320px){
    .form-check-box { padding-bottom: 20px;}
}
@media all and (max-width: 991px) and (min-width: 768px){}
@media all and (max-width: 767px) and (min-width: 415px){
    .form-main { margin-bottom: 20px;}
    .col-md-4.col-sm-4.form-main, .col-md-12.col-sm-12.form-main { padding-right: 0px !important; }
}
@media all and (max-width: 414px) and (min-width: 320px) {
    .form-main { margin-bottom: 20px;}
    .col-md-4.col-sm-4.form-main, .col-md-12.col-sm-12.form-main { padding-right: 0px !important; }
    .form-set-main {padding-top: 0px;}
}
@media all and (max-width: 736px) and (min-width: 734px){}
@media all and (max-width: 684px) and (min-width: 667px) {}